* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
}

.main{
    height: 100vh;
    width: 100%;
    background-color: #0b0c10;
    color: white;
    overflow: hidden;

    .navbar{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;

        .left{
            display: flex;
            align-items: center;
            gap: 1rem;

            .logo{
                height: 2rem;
                width: 4rem;
                background-color: white;
                border-top-right-radius: 50px;
                border-bottom-right-radius: 50px;
            }
            h4{
                font-size: 1.2rem;
                font-weight: 400;
            }
        }
        .right{
            display: flex;
            align-items: center;
            gap: 1.5rem;

            a{
                text-decoration: none;
                color: white;
                font-size: 1rem;
                transition: color 0.3s ease;

                &:hover{
                    color: #66fcf1;
                }
            }
        }
    }
    .hero{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
        justify-content: center;
        // align-items: center;
        margin-top: 2rem;
        padding: 0 2rem;

        .top{
            width: 100%;
            display: flex;
            flex-direction: column;
            .ttop{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 3rem;
                    h1{
                        font-size: 8.2rem;
                        text-align: center;
                        font-weight: 700;
                    }
            }
            .tbottom{
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                align-items: center;
                gap: 0.5rem;
                justify-content: space-between;

                p{
                    font-size: 1.1rem;
                    font-weight: 300;
                }
                // a{
                //     text-decoration: none;
                //     color: white;
                //     font-size: 1rem;
                //     border: 2px solid #66fcf1;
                //     background-color: #66fcf1;
                //     padding: 0.5rem 1rem;
                //     border-radius: 5px;
                //     color: #0b0c10;
                //     transition: background-color 0.3s ease, color 0.3s ease;

                //     &:hover{
                //         border: 2px solid #66fcf1;
                //         background-color: transparent;
                //         color: white;
                //     }
                // }
            }
        }
        .bottom{
            height: 22rem;
            width: 80%;
            background-color: rgb(237, 230, 227);
            border-top-right-radius: 180px;
            border-bottom-right-radius: 180px;
            display: grid;
            grid-template-columns: repeat(auto-fill,minmax(30px,1fr));
            grid-auto-rows: repeat(auto-fill,minmax(30px,1fr));
            position: relative;

            .block{
                border: 0.6px solid black;
            }
            .i1{
                position: absolute;
                bottom: 0;
                left: 20%;
                width: 50%;
            }
            .i2{
                position: absolute;
                bottom: 60%;
                left: -5%;
                width: 30%;
            }
            .i3{
                position: absolute;
                bottom: 20%;
                right: -10%;
                width: 25%;
            }
            .i4{
                position: absolute;
                top: 0%;
                right: 10%;
                width: 30%;
            }
            .i5{
                position: absolute;
                top: 5%;
                left: 10%;
                width: 25%;
            }
            .i6{
                position: absolute;
                top: 40%;
                right: 35%;
                width: 20%;
            }
            .i7{
                position: absolute;
                top: 60%;
                left: 0%;
                width: 20%;
            }
            .i8{
                position: absolute;
                top: 0%;
                right: 40%;
                width: 15%;
            }
            .i9{
                position: absolute;
                bottom: -28%;
                right: 5%;
                width: 35%;
            }
        }
    }
}




