* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

.main {
  height: 100vh;
  width: 100%;
  background-color: #0b0c10;
  color: white;
  overflow: hidden;
}
.main .navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}
.main .navbar .left {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.main .navbar .left .logo {
  height: 2rem;
  width: 4rem;
  background-color: white;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
.main .navbar .left h4 {
  font-size: 1.2rem;
  font-weight: 400;
}
.main .navbar .right {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.main .navbar .right a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  transition: color 0.3s ease;
}
.main .navbar .right a:hover {
  color: #66fcf1;
}
.main .navbar .right .icon {
  display: none;
}
.main .hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  justify-content: center;
  margin-top: 2rem;
}
.main .hero .top {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}
.main .hero .top .ttop {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.main .hero .top .ttop h1 {
  font-size: 8.2rem;
  text-align: center;
  font-weight: 700;
}
.main .hero .top .tbottom {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  justify-content: space-between;
}
.main .hero .top .tbottom p {
  font-size: 1.1rem;
  font-weight: 300;
}
.main .hero .bottom {
  height: 22rem;
  width: 80%;
  background-color: rgb(237, 230, 227);
  border-top-right-radius: 180px;
  border-bottom-right-radius: 180px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));
  grid-auto-rows: repeat(auto-fill, minmax(30px, 1fr));
  position: relative;
}
.main .hero .bottom .block {
  border: 0.6px solid black;
}
.main .hero .bottom .i1 {
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 50%;
}
.main .hero .bottom .i2 {
  position: absolute;
  bottom: 60%;
  left: -5%;
  width: 30%;
}
.main .hero .bottom .i3 {
  position: absolute;
  bottom: 20%;
  right: -10%;
  width: 25%;
}
.main .hero .bottom .i4 {
  position: absolute;
  top: 0%;
  right: 10%;
  width: 30%;
}
.main .hero .bottom .i5 {
  position: absolute;
  top: 5%;
  left: 10%;
  width: 25%;
}
.main .hero .bottom .i6 {
  position: absolute;
  top: 40%;
  right: 35%;
  width: 20%;
}
.main .hero .bottom .i7 {
  position: absolute;
  top: 60%;
  left: 0%;
  width: 20%;
}
.main .hero .bottom .i8 {
  position: absolute;
  top: 0%;
  right: 40%;
  width: 15%;
}
.main .hero .bottom .i9 {
  position: absolute;
  bottom: -28%;
  right: 5%;
  width: 35%;
}

@media (max-width: 768px) {
  .main .navbar {
    padding: 1rem;
  }
  .main .navbar .right a {
    display: none;
  }
  .main .navbar .right .icon {
    display: block;
    font-size: 1.5rem;
    cursor: pointer;
  }
  .main .hero .top {
    gap: 0.8rem;
    padding: 0rem 1rem;
  }
  .main .hero .top .ttop {
    gap: 0.8rem;
  }
  .main .hero .top .ttop h1 {
    font-size: 1.9rem;
  }
  .main .hero .top .tbottom p {
    font-size: 0.8rem;
  }
  .main .hero .bottom {
    width: 100%;
    height: 17rem;
    padding: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0px;
    margin-top: 5rem;
  }
  .main .hero .bottom .i1 {
    bottom: 0;
    left: 10%;
    width: 100%;
  }
  .main .hero .bottom .i2 {
    bottom: 70%;
    left: -5%;
    width: 55%;
  }
  .main .hero .bottom .i7 {
    top: -40%;
    left: 50%;
    width: 50%;
  }
  .main .hero .bottom .i5 {
    top: 30%;
    left: -7%;
    width: 45%;
  }
  .main .hero .bottom .i4 {
    top: 0%;
    right: -10%;
    width: 55%;
  }
  .main .hero .bottom .i3 {
    bottom: 0%;
    right: -15%;
    width: 40%;
  }
  .main .hero .bottom .i6 {
    top: 60%;
    right: 20%;
    width: 35%;
  }
  .main .hero .bottom .i8 {
    top: 0%;
    right: 30%;
    width: 30%;
  }
}
@media (max-width: 1140px) {
  .main .navbar {
    padding: 1rem;
  }
  .main .navbar .right a {
    display: none;
  }
  .main .navbar .right .icon {
    display: block;
    font-size: 1.5rem;
    cursor: pointer;
  }
  .main .hero .top {
    gap: 1rem;
    padding: 0rem 1rem;
  }
  .main .hero .top .ttop {
    gap: 1rem;
  }
  .main .hero .top .ttop h1 {
    font-size: 4.3rem;
  }
  .main .hero .top .tbottom p {
    font-size: 1rem;
  }
  .main .hero .bottom {
    width: 100%;
    height: 25rem;
    padding: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0px;
    margin-top: 12rem;
  }
  .main .hero .bottom .i1 {
    bottom: 0;
    left: 10%;
    width: 80%;
  }
  .main .hero .bottom .i2 {
    bottom: 70%;
    left: -5%;
    width: 55%;
  }
  .main .hero .bottom .i7 {
    top: -50%;
    left: 50%;
    width: 50%;
  }
  .main .hero .bottom .i5 {
    top: 30%;
    left: -7%;
    width: 45%;
  }
  .main .hero .bottom .i4 {
    top: 0%;
    right: -10%;
    width: 55%;
  }
  .main .hero .bottom .i3 {
    bottom: 0%;
    right: -15%;
    width: 40%;
  }
  .main .hero .bottom .i6 {
    top: 60%;
    right: 20%;
    width: 35%;
  }
  .main .hero .bottom .i8 {
    top: 0%;
    right: 30%;
    width: 30%;
  }
}/*# sourceMappingURL=style.css.map */